html {
    background: #FD6A02;
}

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: large;
    text-align: center;
}

a {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: large;
    text-align: center;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

center-div {
    width: 100%;
    text-align: center;
}