html {
    background: #FD6A02;
}

@font-face {
    font-family: Righteous-Regular;
    src: url(/fonts/Righteous-Regular.ttf);
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: large;
    text-align: center;
    font-family: Righteous-Regular;
}

a {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: large;
    text-align: center;
    font-family: Righteous-Regular;
}

h1 {
    font-size: xx-large;
    text-align: center;
    font-family: Righteous-Regular;
}

p {
    font-size: 14px;
    text-align: center;
    font-family: Righteous-Regular;
}

center-div {
    width: 100%;
    text-align: center;
    font-family: Righteous-Regular;
}